<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      ul {
        column-count: 2;
      }
      .active {
        text-decoration: underline;
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Chuck Jokes : {{ selectedCat }}</h1>

      <!-- categories ARRAY into li-->

      <ul class="categories">
        <!-- The Loop in li -->
        <!-- <li v-for="catLoop in categories">{{catLoop}}</li> -->

        <!-- the loop and adding event @click-->
        <li
          v-for="catLoop in categories"
          @click="getJokeCat(catLoop)"
          :class="{active:(catLoop == selectedCat)}"
        >
          <!-- If the catLoop value is equal to the selectedCat value,
           then the active class is applied to the element. -->
          {{catLoop}}
        </li>
      </ul>
      <p>{{joke}}</p>
      <button @click="getRndJoke()">Get Rdn Joke</button>
    </div>
    <!-- VueJS CDN -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- My Script -->
    <script src="script.js"></script>
  </body>
</html>
<!-- 
## Chuck Jokes

API >>> https://api.chucknorris.io

- Create page where you display the categories
  on click this catagories will display the joke
  of that categorie
- add a button that on click, it will display a random joke
- make it beautifull with CSS :D
  //
  ((HINTS :
  take the CDN link ;)
  FOR OF loop > v-for in : check the doc ;))
  dont forgot to create the data() return{}
  it will contain the properties and the value you want to have
  > (exemple of data():
  > categorie: [],
  > selectedCat: '' )
  > // -->
