/*Must HAVE*/
*{
    box-sizing: border-box;
}
body {
    background-color: #CCCCCC;
}
article{
    background-color: white;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-bottom-right-radius: 50px;
}
h1, h2{
    text-align: center;
}
h1{
    text-decoration: underline; /*tdu*/
}
h2{
    font-family:'Courier New', Courier, monospace;
    border-bottom: 1px solid black; /*bb*/
}