/* main style  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  bottom: 0;
}

:root {
  --grey-background: #f6f8f9;
  --red: #fa6980;
  --dark-gray-footer: #a6adb4;
  --text-white: #ffffff;
  --black-text: #202124;
  --grey-text: #a6adb4;
}
body {
  background-color: var(--grey-background);
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Limelight", cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

nav button {
  background-color: transparent;
}

nav .fa-bars {
  font-size: 25px;
}

nav ul {
  display: none;
}
ul {
  list-style: none;
}

header {
  background-image: url(../style/images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

header hr {
  border-top: 2px solid var(--red);
  width: 40px;
  margin: 30px auto;
}

header p {
  text-align: justify;
  font-weight: 600;
  width: 300px;
  margin: auto 40px;
  font-size: 16px;
}

section#call2action {
  background-color: var(--grey-background);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-bottom: 50px;
}

form input {
  border: 3px solid var(--grey-text);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
}

form label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--black-text);
}

form input,
form input::placeholder {
  color: var(--grey-text);
  font-family: "Roboto", sans-serif;
}

form button {
  font-size: 18px;
  background-color: var(--red);
  color: var(--text-white);
  font-family: "Limelight", cursive;
  text-decoration: uppercase;
  padding: 15px 50px;
  border-radius: 10px;
  border: none;
}

footer ul {
  background-color: var(--dark-gray-footer);
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

footer a {
  color: var(--text-white);
  padding: 20px 10px;
  display: inline-block;
}

@media screen and (min-width: 720px) {
  main {
    width: 700px;
    margin: auto;
  }

  nav {
    padding: 20px 0;
  }

  nav button {
    display: none;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  nav ul a {
    color: var(--grey-text);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
  }
  #active {
    color: var(--black-text);
    text-decoration: underline;
    font-weight: bold;
  }
  form {
    text-align: center; 
    width: 350px;
    margin: auto;
  }
  section#call2action{
    padding: 120px;
    position: relative;
  }
  form button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

@media screen and (min-width: 1080px) {
    main {
        width: 1080px;
    }
    #flex {
        display: flex;
    }
    
}

