/* MAIN */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    color: var(--textcolor)
}

:root {
    --background: white;
    --textcolor: #777777;
    --colorbutton: #329EF7;
    --activecolor: #444444;
    --colorarticle: #8892A0;
}

/* HEADER */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: var(--background);
    width: 90%;
    margin: auto;
}

nav img {
    height: 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: var(--textcolor);
    width: 43px;
    margin: 10px;
}

.buttonmy {
    background-color: var(--colorbutton);
    color: var(--background);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 10px;
}

nav ul li a.active {
    color: var(--activecolor);
}

nav ul li a:hover {
    text-decoration: underline;
}

nav div a {
    font-size: 16px;
    line-height: 24px;
    color: var(--textcolor);
    padding: 10px;
}

/* SECTION */
section {
    margin: auto;
    width: 90%;
    height: 550px;
    padding-top: 120px;
    padding-bottom: 120px;
}

section h1 {
    font-weight: 600;
    font-size: 44px;
    line-height: 66px;
    color: var(--activecolor);
    text-align: center;

}

section article {
    column-count: 2;
    font-size: 22.4px;
    line-height: 34px;
    color: var(--colorarticle);
}

/* contact */
article.contact {
    background: url(shapes/9.svg) no-repeat center;
}
article.contact div{
    background: var(--background);
    border-top: 5px solid #329EF7;
    box-shadow: 0px 5px 14px rgba(129, 129, 129, 0.2);
    border-radius: 4px;
    margin: auto;
    width: 90%;
}

article.contact div h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 66px;
    text-align: center;
    color: #444444;
    padding-top: 70px;
}

article.contact div p {
    font-size: 22.4px;
    line-height: 34px;
    color: #8892A0;
    margin: auto 250px;
}

article.contact div form {
    margin: auto 150px;
}

article.contact div form button {
    width: 100px;
    margin: 20px auto;
}

/* FOOTER  */
footer article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 390px 101px;
}

footer>p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #444444;
}

footer article div h4 {
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    color: #444444;
}

footer article div ul {
    padding: 0;
}

footer article div ul li {
    list-style: none;
}

footer article div ul li a {
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    text-decoration: none;
}

footer article div ul li a:hover {
    text-decoration: underline;
}

footer article div p {
    font-size: 16px;
    line-height: 24px;
    color: #8892A0;
    max-width: 400px;
}

i {
    padding: 3px;
}