:root {
  --grey-background: #f6f8f9;
  --accent-color: #fa6980;
  --dark-grey-footer: #a6adb4;
  --text-white: #ffffff;
  --black-text: #202124;
  --grey-text: #a6adb4;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--grey-background);
}
h1 {
  font-family: 'Limelight', cursive;
}
nav.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}
nav.nav-bar button {
  background-color: transparent;
}
nav.nav-bar .fa-bars {
  font-size: 25px;
}
nav.nav-bar ul {
  display: none;
}

header.hero-header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  color: var(--text-white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
}
header.hero-header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}
hr {
  border-top: 2px solid var(--accent-color);
  width: 40px;
  margin: 30px auto;
}
header.hero-header p {
  text-align: justify;
  font-weight: 600;
  width: 300px;
  margin: auto;
  font-size: 16px;
}
section#call2Action {
  background-color: #fff;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  padding: 50px;
  margin-bottom: 50px;
}
form label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}
form input {
  border: 3px solid #ebeded;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
}
form button {
  background-color: var(--accent-color);
  color: var(--text-white);
  font-family: 'Limelight', cursive;
  text-transform: uppercase;
  padding: 15px 50px;
  border-radius: 10px;
}
footer {
  background-color: var(--dark-grey-footer);
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
footer a {
  color: var(--text-white);
  padding: 20px 10px;
  display: inline-block;
  font-size: 20px;
}



/* More CSS ? Write it here !*/
  /* MY STYLE  */
  /* FOR BUTTON */
#buttons {
  text-align: center;
}
.button {
  background-color: var(--dark-grey-footer);
  padding: 10px 20px;
  color: var(--text-white);
  border-radius: 10px;
  margin-right: 10px;
}
.active {
  background-color: var(--accent-color);
}
.soon {
  background-color: var(--dark-grey-footer);
  padding: 10px;
  color: var(--text-white);
  border-radius: 10px;
  width: 35%;
  text-align: center;
  position: absolute;
  top: -20px;
  left: 50%;
}

.inStock{
  background-color: var(--accent-color);
  padding: 10px;
  color: var(--text-white);
  border-radius: 10px;
  width: 35%;
  text-align: center;
  position: absolute;
  top: -20px;
  left: 50%;
}

/* FOR CLONE CARDS  */
section#cards article {
  width: 90%;
  margin: 30px auto;
  height: 300px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 720px) {
  main {
    width: 700px;
    margin: auto;
  }
  nav.nav-bar {
    padding: 20px 0;
  }
  nav.nav-bar button {
    display: none;
  }
  nav.nav-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  nav.nav-bar ul a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 11px;
    text-transform: uppercase;
    color: var(--grey-text);
    font-weight: bold;
  }
  nav.nav-bar ul a.active {
    color: black;
    text-decoration: underline;
  }

  form {
    text-align: center;
    width: 350px;
    margin: auto;
  }

  section#call2Action {
    padding: 120px;
    position: relative;
  }
  form button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  /* More CSS ? Write it here !*/
  /* MY STYLE  */
  section#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
  }
  section#cards article {
    width: 45%;
  }
}

/*BONUS*/
@media screen and (min-width: 1080px) {
  main {
    width: 1000px;
  }
  #main-flexer {
    display: flex;
  }
  #main-flexer header,
  #main-flexer section#call2Action {
    width: 500px;
    height: 500px;
  }
  section#call2Action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section#call2Action form {
    text-align: left;
  }
  section#call2Action form button {
    left: 0;
  }

  /* More CSS ? Write it here !*/
  /* MY STYLE  */
  section#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
  }
  
  section#cards article {
    width: 31%;
    height: 300px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
